<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<!-- <style>
  select {
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    background-image: url('path/to/arrow.png'); /* Ganti dengan path gambar panah */
    background-position: right center;
    background-repeat: no-repeat;
  }
</style> -->

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Form Add Barang</title>

  <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css"> -->
</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar}"></nav>
  <div class="container">
    <div class="text-center pt-5">
      <h2></h2>
    </div>
    <div class="card">
      <div class="card-header" style="text-align: center;">
        <h2><b>Tambah Barang</b></h2>
      </div>
      <div class="card-body">
        <div class="justify-content-center">
          <br>
          <form th:action="@{/barang/tambah}" th:object="${barangDTO}" method="POST">
            <b>Merk Barang: </b><br>
            <input class="form-control" type="text" th:field="*{merk}" />
            <br><br>

            <label for="tipeBarang"><b>Tipe Barang:</b></label>
            <select class="form-control" id="tipeBarang" name="tipeBarang" th:field="*{tipeBarang}">
                <option value="1">Produk Elektronik</option>
                <option value="2">Pakaian & Aksesoris</option>
                <option value="3">Makanan & Minuman</option>
                <option value="4">Kosmetik</option>
                <option value="5">Perlengkapan Rumah</option>
            </select>
            <br> <br>

            <b>Harga: </b><br>
            <input class="form-control" type="number" th:field="*{hargaBarang}" />
            <br><br>
            <div class="text-center mt-3">
              <a class="btn btn-primary btn-danger" href="/barang">Batal</a>
              <button class="btn btn-primary btn-simpan" type="submit">Submit</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>