<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Form Update Barang</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
<div class="container">
    <div class="text-center pt-5">
        <h2></h2>
      </div>
    <div class="card">
        <div class="card-header" style="text-align: center;">
            <h2><b>Ubah Barang</b></h2>
          </div>
        <div class="card-body">
            <div class="justify-content-center">
                <form th:action="@{/barang/{sku}/ubah}" th:object="${barangDTO}" method="POST">

                    <b>SKU:</b>
                    <input class="form-control" type="text" th:field="*{sku}" th:readonly="true" th:value="${barangDTO.sku}"/>
                    <br>

                    <b>Merk Barang:</b> <br>
                    <input class="form-control" type="text" th:field="*{merk}" /><br>

                    <label for="tipeBarang"><b>Tipe Barang:</b></label>
                    <select class="form-control" id="tipeBarang" name="tipeBarang"  th:readonly="true" th:field="*{tipeBarang}">
                        <option value="1">Produk Elektronik</option>
                        <option value="2">Pakaian & Aksesoris</option>
                        <option value="3">Makanan & Minuman</option>
                        <option value="4">Kosmetik</option>
                        <option value="5">Perlengkapan Rumah</option>
                    </select>
                    <br>

                    <b>Harga:</b> <br>
                    <input class="form-control" type="text" th:field="*{hargaBarang}" />
                    <br><br>
                    <div class="text-center mt-3">
                    <a class="btn btn-danger" th:href="@{'/barang/' + ${sku}}">Batal</a>
                    <button class="btn btn-primary" type="submit">Submit</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

</body>

</html>