<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>Form Add Permintaan Pengiriman</title>
</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar}"></nav>
  <div class="container">
    <div class="text-center pt-5">
      <h6></h6>
    </div>
    <div class="card">
      <div class="card-header" style="text-align: center;">
        <h2><b>Buat Permintaan Pengiriman</b></h2>
      </div>
      <div class="card-body">
        <div class="justify-content-center">
          <form th:action="@{/permintaan-pengiriman/tambah}" th:object="${createPermintaanPengirimanRequestDTO}" method="POST">
            <input class="form-control" type="hidden" th:field="*{karyawan}" />
            <label>Karyawan Bertugas:</label>

            <select class="form-control" th:field="*{karyawan.idKaryawan}">
              <option th:each="karyawan : ${listKaryawan}" 
                      th:value="${karyawan.idKaryawan}" 
                      th:text="${karyawan.namaKaryawan}">
              </option>
            </select>

            <br> <br>
            
            Nama Penerima: <br>
            <input class="form-control" type="text" th:field="*{namaPenerima}" />
            <br><br>

            Alamat Penerima: <br>
            <input class="form-control" type="text" th:field="*{alamatPenerima}" />
            <br><br>

            Tanggal Pengiriman: <br>
            <input class="form-control" type="date" th:field="*{tanggalPengiriman}" th:value="${#dates.format(tanggalPengiriman, 'yyyy-MM-dd')}" />            
            <br><br>

            <label>Jenis Layanan:</label>
            <select class="form-control" id="" name="" th:field="*{jenisLayanan}">
                <option value="1">Same Day</option>
                <option value="2">Kilat</option>
                <option value="3">Reguler</option>
                <option value="4">Hemat</option>
            </select>
            <br> <br>

            Biaya Pengiriman: <br>
            <input class="form-control" type="text" th:field="*{biayaPengiriman}" />
            <br><br>

            <th class="d-flex justify-content-end">
              <button class="btn btn-primary" type="submit" name="addRow">+ Tambah Barang</button>
            </th>

            <table class="table table-bordered mt-2">
              <thead class="thead-dark table-dark">
                  <tr class="text-center">
                    <th>#</th>
                    <th>Barang</th>
                    <th>Kuantitas</th>
                  </tr>
                </thead>

                <tbody>
                  <tr class="text-center" th:each="barang, iterationStatus : *{listBarang}">
                    <td th:text="${iterationStatus.count}"></td>
                      <td>
                          <select th:field="*{listBarang[__${iterationStatus.index}__].sku}" class="form-control">
                            <option value="">Pilih Barang</option>
                            <th:block th:each="barangExisting : ${listBarangExisting}">
                                <option th:value="${barangExisting.sku}" th:text="${barangExisting.merk}"></option>
                            </th:block>
                        </select>
                      </td>
                      <td>
                          <input th:field="*{listBarang[__${iterationStatus.index}__].stok}"
                              type="number" class="form-control" min="1" />
                      </td>
                  </tr>
              </tbody>
            </table>
            <div class="text-center mt-3">
            <a class="btn btn-primary btn-danger" th:href="@{'/permintaan-pengiriman}">Batal</a>
            <button class="btn btn-primary btn-simpan" type="submit">Submit</button>
          </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</body>
</html>