<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Cari Barang</title>

</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
        <div class="text-center pt-5">
            <h2>Cari Barang</h2>
        </div>
        <div class="text-center m-3">
        </div>
        <div class="row justify-content-center">
            <div class="card">

                <div class="card-body">
                    <div>
                        <table class="table table-borderless">
                            <form th:action="@{/gudang/cari-barang}" method="GET">
                                <tr>
                                        <div class="form-group" style="display: inline-block; width: 95%;">
                                            <select id="barang" name="barang" class="form-control">
                                                <option value="">Pilih Barang</option>
                                                <th:block th:each="itemBarang : ${listBarang}">
                                                    <option th:value="${itemBarang.sku}" th:text="${itemBarang.merk}"></option>
                                                </th:block>
                                            </select>
                                        </div>
                                        <button type="submit" class="btn btn-primary" style="display: inline-block; float: right;">Cari</button>
                                </tr>
                            </form>
                        </table>
                    </div>

                    <div>
                        <table class="table table-bordered">
                            <thead class="thead-dark table-dark">
                                <tr class="text-center">
                                    <th>#</th>
                                    <th>Nama</th>
                                    <th>Alamat Gudang</th>
                                    <th>Stok</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr  class="text-center" th:each="elem, iterStat : ${gudangBarang}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td>
                                        <a th:text="${elem.idGudang.namaGudang}" th:href="@{'/gudang/' + ${elem.idGudang.idGudang}}"></a>
                                    </td>
                                    <td th:text="${elem.idGudang.alamatGudang}"></td>
                                    <td th:text="${elem.stok}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center m-3">
            <a type="button" class="btn btn-secondary btn-md" href="/gudang">Kembali</a>
        </div>
    </div>
</body>

</html>
