<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />
    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>Cari Barang</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
        <div class="text-center pt-5">
            <h2>Cari Barang</h2>
        </div>
        <div class="text-center m-3">
        </div>
        <div class="row justify-content-center">
            <div class="card" style="width: 30rem;">
                <div class="card-body">
                    <div>
                        <form th:action="@{/gudang/cari-barang}" method="GET">
                            <div class="form-group">
                                <select id="barang" name="barang" class="form-control">
                                    <option value="">Pilih Barang</option>
                                    <th:block th:each="itemBarang : ${listBarang}">
                                        <option th:value="${itemBarang.sku}" th:text="${itemBarang.merk}"></option>
                                    </th:block>
                                </select>
                            </div>
                            <button type="submit" class="btn btn-primary">Cari</button>
                        </form>
                    </div>

                    <div>
                        <h3>Data Gudang</h3>
                        <table class="table">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>Nama Gudang</th>
                                    <th>Alamat Gudang</th>
                                    <th>Stok Barang</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr th:each="elem, iterStat : ${gudangBarang}">
                                    <td th:text="${iterStat.index + 1}"></td>
                                    <td th:text="${elem.idGudang.namaGudang}"></td>
                                    <td th:text="${elem.idGudang.alamatGudang}"></td>
                                    <td th:text="${elem.stok}"></td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="text-center m-3">
            <a type="button" class="btn btn-secondary btn-md" href="/gudang">Kembali</a>
        </div>
    </div>
</body>

</html>
