<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>View Permintaan Pengiriman</title>
</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar}"></nav>
  <div class="container">
    <div class="text-center pt-5">
      <h4></h4>
    </div>
    
    <div class="row justify-content-center">
      <div class="card">

        <div class="card-header d-flex justify-content-between align-items-center">
          <h2><b>Detail Permintaan Pengiriman</b></h2>
          <a type="button" class="btn btn-danger btn-md" th:href="@{'/permintaan-pengiriman/' + ${permintaanPengiriman.idPermintaanPengiriman} + '/cancel'}">Cancel Permintaan</a>
        </div>
        
        <div class="card-body">
          <div>
            <table class="table table-borderless">
              <tr>
                <td><b>No. Permintaan Pengiriman</b></td>
                <td th:text="': ' + ${permintaanPengiriman.nomorPengiriman}"></td>
              </tr>
              <tr>
                <td><b>Waktu Permintaan</b></td>
                <td th:text="': ' + ${permintaanPengiriman.formattedWaktuPermintaan}"></td>
              </tr>
              <tr>
                <td><b>Karyawan Bertugas</b></td>
                <td th:text="': ' + ${permintaanPengiriman.karyawan.namaKaryawan}"></td>
              </tr>
              <tr>
                <td><b>Waktu Pengiriman</b></td>
                <td th:text="': ' + ${permintaanPengiriman.formattedTanggalPengiriman}"></td>
              </tr>
              <tr>
                <td><b>Nama Penerima</b></td>
                <td th:text="': ' + ${permintaanPengiriman.namaPenerima}"></td>
              </tr>
              <tr>
                <td><b>Alamat Penerima</b></td>
                <td th:text="': ' + ${permintaanPengiriman.alamatPenerima}"></td>
              </tr>
              <tr>
                <td><b>Jenis Layanan</b></td>
                <td>
                  <span>: </span>
                  <span>
                    <span th:switch="${permintaanPengiriman.jenisLayanan}">
                      <span th:case="1">Same Day</span>
                      <span th:case="2">Kilat</span>
                      <span th:case="3">Reguler</span>
                      <span th:case="4">Hemat</span>
                  </span>
                </td>
              </tr>
              <tr>
                <td><b>Biaya Pengiriman</b></td>
                <td th:text="': ' + 'Rp' + ${permintaanPengiriman.biayaPengiriman}"></td>
              </tr>
            </table>
            
          
            <h5 class="card-text mt-2"><b>Daftar Barang Dipesan</b></h5>
            <table class="table table-bordered">
              <thead class="thead-dark table-dark">
                <tr class="text-center">
                  <th>#</th>
                  <th>SKU</th>
                  <th>Merk</th>
                  <th>Kuantitas Pesanan</th>
                  <th>Total Harga</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" th:each="barang, iteratedList: ${permintaanPengiriman.permintaanPengirimanBarang}">
                  <td th:text="${iteratedList.index + 1}"></td>
                  <td>
                    <a th:text="${barang.skuBarang.sku}" th:href="@{'/barang/' + ${barang.skuBarang.sku}}"></a>
                  </td>
                  <td th:text="${barang.skuBarang.merk}"></td>
                  <td th:text="${barang.kuantitasPesanan}"></td>
                  <td th:text="'Rp' + ${barang.totalHarga}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center m-3">
      <a type="button" class="btn btn-secondary btn-md" href="/permintaan-pengiriman">Kembali</a>
    </div>
  </div>
</body>

</html>