<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
  <meta charset="UTF-8" />
  <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
  <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
  <title>View Barang</title>
</head>

<body>
  <nav th:replace="~{fragments/navbar :: navbar}"></nav>
  <div class="container">
    <div class="text-center pt-5">
      <h2</h2>
    </div>
    <div class="row justify-content-center">
      <div class="card">
        <div class="card-header d-flex justify-content-between align-items-center">
          <h2><b>Detail Barang</b></h2>
          <a type="button" class="btn btn-primary btn-md" th:href="@{'/barang/' + ${barang.sku} + '/ubah'}">Ubah Barang</a>
      </div>
        <div class="card-body">
          <div>
            <table class="table table-borderless">
              <tr>
                  <td>Merk</td>
                  <td th:text="': ' + ${barang.merk}"></td>
              </tr>
              <tr>
                  <td>SKU</td>
                  <td th:text="': ' + ${barang.sku}"></td>
              </tr>
              <tr>
                <td>Tipe Barang</td>
                <td>
                    <span>: </span>
                    <span th:switch="${barang.tipeBarang}">
                        <span th:case="1">Produk Elektronik</span>
                        <span th:case="2">Pakaian &amp; Aksesoris</span>
                        <span th:case="3">Makanan &amp; Minuman</span>
                        <span th:case="4">Kosmetik</span>
                        <span th:case="5">Perlengkapan Rumah</span>
                        <span th:case="*">Tipe Barang Tidak Dikenali</span>
                    </span>
                </td>
            </tr>
              <tr>
                <td>Total Stok</td>
                <td th:text="': ' + ${barang.totalStok}"></td>
              </tr>
              <tr>
                <td>Harga</td>
                <td th:text="': ' + 'Rp' + ${barang.hargaBarang}"></td>
            </tr>
            </table> 

            <h5 class="card-text mt-2"><b>Daftar Gudang</b></h5>
            <table class="table table-bordered">
              <thead class="thead-dark table-dark">
                  <tr class="text-center">
                  <th>#</th>
                  <th>Nama Gudang</th>
                  <th>Alamat Gudang</th>
                  <th>Stok</th>
                </tr>
              </thead>
              <tbody>
                <tr class="text-center" th:each="gudang, iteratedList: ${barang.gudangBarang}">
                  <td th:text="${iteratedList.index + 1}"></td>
                  <td>
                    <a th:text="${gudang.idGudang.namaGudang}" th:href="@{'/gudang/' + ${gudang.idGudang.idGudang}}"></a>
                  </td>
                  <td th:text="${gudang.idGudang.alamatGudang}"></td>
                  <td th:text="${gudang.stok}"></td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center m-3">
      <a type="button" class="btn btn-secondary btn-md" href="/barang">Kembali</a>
    </div>
  </div>
</body>

</html>