<!DOCTYPE html>
<html lang="en" xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8" />

    <!-- Tautan ke file JavaScript DataTables -->
    <link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.min.css">

    <style>
        .table-header {
            background-color: #373737; /* Ganti dengan warna biru primary yang Anda inginkan */
            color: white; /* Warna teks pada header */
        }
    </style>

    <object th:include="~{fragments/common :: js}" th:remove="tag"></object>
    <object th:include="~{fragments/common :: css}" th:remove="tag"></object>
    <title>View All Permintaan Pengiriman</title>
</head>

<body>
    <nav th:replace="~{fragments/navbar :: navbar}"></nav>
    <div class="container">
        <div class="text-center pt-5">
            <h2>Daftar Permintaan Pengiriman</h2>
        </div>

        <div class="text-center m-3">
          <a type="button" class="btn btn-primary m-2" href="/permintaan-pengiriman/tambah">+ Tambah Permintaan Pengiriman</a>
          <!-- <a type="button" class="btn btn-md btn-primary" href="/">Home</a> -->
        </div>
        
            <!-- Membuat table serta heading-nya -->
            <table id="bukuTable" class="table">
                <thead class = "table-header">
                    <tr>
                        <th>#</th>
                        <th>Waktu Permintaan</th>
                        <th>Nomor Pengiriman</th>
                        <th>Nama Penerima</th>
                        <th>Alamat Penerima</th>
                        <th>Tanggal Pengiriman</th>
                        <th>Action</th>
                    </tr>
                </thead>
                
                <tbody>


                <!-- Mengambil buku -->
                <tr th:each="elem, iteratedList: ${listPermintaanPengiriman}" th:if="${elem.isCancelled == null || !elem.isCancelled}">
                        <!-- Menampilkan nomor -->
                    <td th:text="${iteratedList.index + 1}"></td>
                    <!-- Mengampilkan sku -->
                    <td th:text="${elem.waktuPermintaan}"></td>
                    <!-- Mengampilkan merk -->
                    <td th:text="${elem.nomorPengiriman}"></td>
                    <!-- Mengampilkan stok -->
                    <td th:text="${elem.namaPenerima}"></td>
                    <!-- Menampilkan harga -->
                    <td th:text="${elem.alamatPenerima}"></td>
                    <!-- Menampilkan action button -->
                    <td th:text="${elem.tanggalPengiriman}"></td>
                    <td>
                        <a type="button" class="btn btn-md btn-primary"
                            th:href="@{'/permintaan-pengiriman/' + ${elem.idPermintaanPengiriman}}">Detail</a>
                    </td>
                </tr>
                </tbody>
            </table>
    </div>

    <!-- Tautan ke file JavaScript DataTables -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.min.js"></script>

    <script>
        $(document).ready(function () {
            $('#bukuTable').DataTable({
                "paging": true,
                "pageLength": 5, // Menampilkan 5 item per halaman ketika dibuka pertama kali
                "lengthMenu": [5, 10, 20], // Pilihan jumlah entri per halaman
                "columnDefs": [{
                    "targets": 5, // Menetapkan target kolom (Action)
                    "orderable": false // Menonaktifkan fitur pengurutan pada kolom target (Action)
                    }]
                });
            }
        );
    </script>
</body>

</html>